* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-xxl: clamp(6rem, 5vw + 0.1rem, 4rem)
    --font-xl: clamp(.7rem, 1.2vw + 0.1rem, 3rem);
    --font-mid: clamp(.6rem, .8vw + 0.1rem, 2rem);
    --font-small: clamp(.5rem, .8vw + 0.1rem, 1rem);
}

body {
    position: relative;
}

li {
    list-style: none;
}


.container {
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 500ms ease-in-out;
}

.pokemonIndividual {
    position: relative;
    width: 90vw;
    height: 30rem;
    margin: auto;
    border-radius: 10px;
    box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.123);
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/imgs/pokebola.svg');
    background-repeat: no-repeat;
    background-size: 8rem;
    background-position: right top;
    opacity: 0.150;
    margin: 10px -10px;
}

.headerPoke {
    padding: 1rem;
    color: #fff;
    position: relative;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
}

.name {
    font-size: var(--font-xxl);
}

.back {
    margin-right: 1rem;
    padding: 0;
    border: none;
    width: 1.825rem;
    height: 1.825rem;
    background-color: transparent;
    background-image: url('/imgs/seta-1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.idPoke {
    position: absolute;
    top: 1.5rem;
    right: 0rem;
}

.photoSection {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
}

.previous {
    padding: 0;
    border: none;
    width: 1.825rem;
    height: 1.825rem;
    background-color: transparent;
    background-image: url('/imgs/seta-2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1;
    cursor: pointer;
}

.photoIndividual {
    position: absolute;
    top: .3rem;
    left: 50%;
    transform: translate(-50%, -5%);
    height: 100px;
    max-width: 100%;
}

.next {
    padding: 0;
    border: none;
    width: 1.825rem;
    height: 1.825rem;
    background-color: transparent;
    background-image: url('/imgs/seta-2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(180deg);
    grid-column: 3;
    cursor: pointer;
    justify-self: flex-end;
}

.informations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    padding-top: 3rem;
    padding-bottom: 2rem;
    width: 97%;
    height: 21rem;
    border-radius: 10px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 6px 0px inset;;
}

.tipo {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tipo .type {
    padding: .250rem 0.5rem;
    border-radius: 20px;
    color: #fff;
    margin: 0rem 0.825rem;
    font-size: var(--font-xl);
}

.titlepoke {
    margin: 1rem 0;
    font-weight: bold;
    font-size: var(--font-xl);
}

.dados-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
}

.dados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dados .dado {
    font-weight: normal;
    font-size: 4vw;
    margin-bottom: 21px;
    font-size: var(--font-mid);
}

#weight {
    display: flex;
}

#weight::before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    margin: 0 5px;
    background-image: url('/imgs/weight.svg');
    background-size: cover;
    background-repeat: no-repeat;
}


#height {
    display: flex;
}

#height::before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    margin: 0 5px;
    background-image: url('/imgs/height.svg');
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(90deg);
}

.border {
    width: 2px;
    height: 4rem;
    background-color: #666666;
    opacity: .2;
}

#moves {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5px;
}

#moves span {
    font-weight: normal;
}

.reference {
    font-weight: normal;
    color: #666666;
    font-size: var(--font-small);
}

.description {
    font-weight: normal;
    margin: 0.5rem auto;
    padding: 0rem 1rem;
    font-size: var(--font-mid);
}

.states {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 0.250fr 8.750fr;
    align-items: center;
}

.atributes {
    padding-left: 1rem;
    justify-self: flex-end;
}

.atribute {
    grid-column: 1;
    padding: .2rem 0rem;
    text-align: end;
    font-size: var(--font-mid);
}

.division {
    background-color: #E0E0E0;
    width: 2px;
    height: 110%;
    border-radius: 10px;
    opacity: .7;
    align-self: center;
    justify-self: center;
    margin: 0 0.825rem;
}

.powers {
    grid-column: 3;
}

.state {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .2rem 0;
}

.power {
    padding-right: 1rem;
    font-weight: normal;
    font-size: var(--font-mid);
}

.bar {
    width: 80%;
    height: 4px;
    background-color: #74CB48;
    border-radius: 20px;
}

@media screen and (min-width: 550px) {
    .pokemonIndividual {
        width: 70vw;
    }

    .informations {
        padding-top: 3rem;
        height: 21rem;
    }
}

@media screen and (min-width: 768px){
    .pokemonIndividual {
        width: 60vw;
    }

}

@media screen and (min-width: 1024px){
    .pokemonIndividual {
        width: 30vw;
        height: 42rem;
    }

    .background-overlay {
        background-size: 15rem;
    }

    .photoSection {
        height: 10rem;
    }

    .photoIndividual {
        height: 200px;
    }

    .informations {
        padding-top: 1rem;
        width: 98%;
        height: 28rem;
    }

    .tipo {
        padding-top: 2rem;
    }

    .informations h2 {
        padding: 1rem 0rem 1rem 0rem;
        margin-bottom: .5rem;
    }
}